/* 1. Layout & Page Structure */
.JavaCC {
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 0px;
}

.container1 {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.section {
  padding: var(--spacing-lg) var(--screen-edge-spacing);
}

.section-content {
  font-family: 'OutfitRegular', sans-serif;
}

h2 {
  margin-top: 2%;
  margin-bottom: 2rem; /* Add or adjust this value to control space below h2 */
}
h3{
  margin-top: -2%;
}

.sec {
  margin-top: 4%;
}
/* 3. Cards */
.card1 {
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  color: var(--white);
  background: rgba(189, 189, 189, 0.19);
  border-radius: 50px;
  border: 1.5px solid #000;
  box-shadow: 4px 4px 18px rgba(255, 255, 255, 0.15);
  width: 1115px;
}
.box1 {
  padding: -5px 5px 5px 5px ; /* top, right, bottom, left */
}


.card {
  width: 510px;
  height: 410px;
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  margin-block: 30px;
  margin-right: 60px;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  box-shadow: 4px 4px 18px rgba(255, 255, 255, 0.15);
}

/* 4. Card Elements */
.card-header {
  margin: 20px;
  font-family: var(--font-family-heading);
  font-size: 1.125rem;
  font-weight: var(--font-weight-semi-bold);
  color: var(--secondary);
}

.card-body{
  margin: 20px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  font-family: 'OutfitRegular', sans-serif;
  color: var(--white);
}

.card-body ul li {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

/* 5. Plain List */
.plain-list {
  list-style: none;
  padding-left: var(--spacing-md);
  margin-top: var(--spacing-xs);
  font-family: 'OutfitRegular', sans-serif;
  text-align: justify;
}

.plain-list li {
  position: relative;
  padding-left: 20px;
  font-size: 1.5rem;
  margin-bottom: var(--spacing-sm);
  color: var(--gray-2);
}

.plain-list li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: var(--secondary-hover);
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
}

/* 6. Diagrams & Codeblocks */
.card-diagram {
  max-width: 200px;
  margin: 20px 0;
}

.codeblock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: absolute;
  width: 440px;
  height: 94px;
  border-radius: 4px;
  margin: 20px;
}

/* 7. Arrows */
.arrows {
  position: absolute;
  width: 109.45px;
  height: 70.87px;
}

.arrow1 {
  top: 290%;
  left: 50%;
  transform: translateX(-50%);
}

.arrow2 {
  top: 338%;
  left: 68%;
  transform: translateY(-50%) rotate(90deg);
}

.arrow3 {
  top: 372%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

/* 8. Icons & Boxes */
#icon--javacc {
  position: absolute;
  width: 97.61px;
  height: 101.61px;
  left: 85%;
  top: 37%;
  transform: matrix(1, 0.07, -0.07, 1, 0, 0);
}
